@import url("https://fonts.googleapis.com/css2?family=Google Sans Display:wght@400");
@import url("https://api.fontshare.com/css?f[]=google sans display@400&display=swap");

$font: "Google Sans Display", sans-serif;

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f11;
  overflow-x: clip;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background: rgba(25, 25, 25, 0.3);
  backdrop-filter: blur(4.5px);

  .logo {
    width: 90px;
    height: 90px;
    margin-top: 25px;

    svg {
      filter: drop-shadow(0px 0px 250px rgb(255, 255, 255));
    }
  }
}

.main {
  margin-left: 120px;
  padding: 0px 10px;
  white-space: wrap;
  max-width: 100vw;

  h2 {
    text-align: left;
    margin: 4rem 0 0 3rem;
    text-shadow: 0px 0px 250px rgba(255, 255, 255, 0.25);
    font-family: Google Sans;
    font-size: 5.36588rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(110deg, #fff 0.19%, rgba(0, 0, 0, 0.445) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
  }

  .role_name {
    text-align: left;
    margin: 7rem 0 0 3rem;
    font-family: Google Sans;
    font-size: 11.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(
      94deg,
      #ff3636 -0.76%,
      #eb00ff 72.19%,
      #eb00ff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: -100%;
    white-space: nowrap;
    animation: animated_gradient 7s ease infinite;
    cursor: default;
  }

  .second_text {
    margin-top: 13rem;
    cursor: default;
  }

  .qual {
    margin: 4rem 0 0 3rem;

    ul {
      li {
        list-style-type: none;
        color: #fff;
        font-family: Google Sans;
        font-size: 3.4375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145%; /* 4.98438rem */
        cursor: default;
      }

      li:hover {
        background: linear-gradient(
          94deg,
          #ff3636 -0.76%,
          #eb00ff 72.19%,
          #eb00ff 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200%;
        background-position: -100%;
        white-space: nowrap;
        animation: animated_gradient 3s ease infinite;
      }
    }
  }

  .para_first {
    color: #fff;
    font-family: Google Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 4rem 0 0 3rem;
  }
}

@keyframes animated_gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
