*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #222222;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background: rgba(4, 4, 4, 0.30);
    backdrop-filter: blur(4.5px);

    .logo{
        width: 90px;
        height: 90px;
        margin-top: 25px;

        img{
            object-fit:contain;
            width: 100%;
            box-shadow: 0px 0px 150px 0px #FFF;
        }
    }
  }