@import url("https://fonts.googleapis.com/css2?family=Google Sans Display:wght@400");
@import url("https://api.fontshare.com/css?f[]=google sans display@400&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}
