@import url("https://fonts.googleapis.com/css2?family=Google Sans Display:wght@400");
@import url("https://api.fontshare.com/css?f[]=google sans display@400&display=swap");

/* BODY SECTION  */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
/* END OF BODY SECTION  */

/* NAVIGATION BAR */
nav {
  display: flex;
  height: 80px;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* distribute the space between the items */
  background: #fff;
  box-shadow: 0px 4px 250px 0px rgba(0, 0, 0, 0.1);
  font-family: Google Sans Display;
  position: relative; /* z-index only works on positioned elements */
  z-index: 2; /* make .navbar appear on top of the image and .hero-text-quote */
}

/* NAVIGATION IMAGE */

nav img {
  height: auto;
  flex-shrink: 0;
  left: 100px;
  padding-left: 50px;
  padding-top: 26px;
}

@media (max-width: 1200px) {
  nav img {
    max-width: 300px;
    height: 50px;
  }
}

@media (max-width: 992px) {
  nav img {
    width: 240px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  nav img {
    width: 180px;
    height: 30px;
  }
}

@media (max-width: 600px) {
  nav img {
    width: 120px;
    height: 20px;
  }
}

@media (min-width: 1200px) {
  nav img {
    width: 360px;
    height: 60px;
  }
}

/* NAVIGATION LINKS */

nav ul {
  display: flex;
  padding: 0px 50px;
  justify-content: flex-end;
  gap: 37px;
  list-style: none;
}

nav ul li {
  font-family: Google Sans Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* NAVIGATION LINKS BEHAVIOR */

/* nav ul li a {
  text-decoration: none;

  color: #a4a4a4;
}

nav ul li a:hover {
  color: #222;
}

li .active {
  color: #222;
} */

/* This is part is for fun since I wanted to see how good 4 color gradient can look on nav links, please refer to the code above to return to normal hovering behavior */

nav ul li a {
  text-decoration: none;
  color: #a4a4a4;
  transition: 500ms ease;
}

nav ul li a:hover {
  color: transparent;
  transition: 500ms ease;
  background: linear-gradient(90deg, red, orange, green, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

li .active {
  color: #222;
  background: none;
}

/* End of silly hovering behavior lmao */

@media (max-width: 1200px) {
  nav ul li {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  nav ul li {
    font-size: 13px;
  }
  nav ul {
    position: relative;
    /* this seems to be the issue */
    /* left: 50px; */
  }
}

@media (max-width: 768px) {
  nav ul li {
    font-size: 11px;
  }
  nav ul {
    position: relative;
    left: 50px;
  }
}

@media (max-width: 600px) {
  nav ul li {
    font-size: 9px;
  }
  nav ul {
    position: relative;
    left: 20px;
  }
}

/* TODO - HAMBURGER ICON AND DROPDOWN FEATURE */

/* END OF NAVIGATION BAR */

/* HERO */
.hero-container {
  position: sticky;
  top: 0; /* stick to the top of the viewport */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60vh;
  flex-direction: row; /* stack the items vertically */
  margin-top: 90px;
}

.hero-img {
  flex: 0 0 60%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 60% */
  filter: grayscale(100%); /* make the image grayscale by default */
  transition: filter 0.2s ease; /* add a transition effect */
}

.hero-img:hover {
  filter: grayscale(0); /* remove the grayscale filter when hovered */
}

.hero-text {
  flex: 1; /* flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
}

.hero-text-quote {
  background-color: white;
  width: 614px;
  height: 161px;
  z-index: 1; /* make .hero-text-quote appear on top of the image */
  position: absolute; /* z-index only works on positioned elements */
  right: 820px;
  bottom: 228px;
  font-family: Google Sans Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex; /* add this */
  align-items: center; /* add this */
  justify-content: center; /* add this */
}

.hero-text-cibg {
  background-color: white;
  display: flex;
  width: 416px;
  height: 122px;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  box-sizing: border-box; /* include padding in width and height */
  flex-wrap: wrap;
  position: absolute;
  right: 1018px;
  top: 225px;
}

.hero-text-cibg p {
  color: #222;
  font-family: Google Sans Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-icons {
  position: absolute;
  right: 1265px;
  top: 385px;
  gap: 9px;
}

.hero-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transition: all 0.5s ease; /* add a transition effect */
}

.hero-icons img:hover {
  animation: bounce 1s; /* apply the bounce  when hovered */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px); /* further reduce bounce height */
  }
  60% {
    transform: translateY(-2px); /* further reduce bounce height */
  }
}

/* END OF HERO SECTION  */

/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  height: 250px;
  /* gap: 400px; */
  background-color: white;
  box-shadow: 0px -4px 250px 0px rgba(0, 0, 0, 0.1);
}

footer img {
  width: 240px;
  height: 130px;
  padding-left: 115px;
  padding-top: 60px;
}

footer .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 28px;
}

footer ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding-left: 15px;
  transform: translateY(-18px);
}

footer ul li a {
  text-decoration: none;
  color: black;
  font-family: Google Sans Display;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: transparent;
  transition: 500ms ease;
  background: linear-gradient(90deg, red, orange, green, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer h3 {
  font-family: Google Sans Display;
  color: #5f6368;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social_icons {
  display: flex;
  transform: translateX(-4px);
}

footer .socials a {
  text-decoration: none; /* remove underline */
  color: inherit; /* inherit color from parent */
}

footer .socials a svg {
  fill: currentColor; /* use the color of the parent element */
}

footer .socials a svg {
  width: 13px;
  height: 13px;
  margin: 0 7px;
  display: inline-flex;
  padding: 4px 0px;
  align-items: flex-start;
  gap: 11px;
  transition: fill 0.3s ease;
}

footer .socials a.linkedin-icon:hover {
  color: #0077b5; /* LinkedIn blue */
}

footer .socials a.instagram-icon:hover {
  color: #c13584; /* Instagram gradient, use any color you like */
}

footer .socials a.youtube-icon:hover {
  color: #ff0000; /* YouTube red */
}

/* FOOTER MEDIA QUERIES */

@media (max-width: 992px) {
  footer {
    justify-content: space-between;
  }
  footer img {
    width: 200px; /* Decrease the width */
    height: auto; /* Maintain aspect ratio */
    padding-left: 50px; /* Adjust padding to push it to the left */
    padding-top: 60px; /* Adjust padding to push it to the top */
  }

  /* Adjust the links in the footer */
  footer .links {
    flex-direction: column;
    padding-left: 25%;
  }

  footer .quick_links {
    position: relative;
  }

  footer ul {
    position: absolute;
    flex-direction: row;
    gap: 20px;
    left: -13px;
    transform: translateY(-30px);
  }

  footer .socials {
    transform: translateY(-10px);
  }

  footer .social_icons {
    transform: translateY(-13px);
    position: relative;
    right: 5px;
  }
}

@media (max-width: 768px) {
  footer .links h3 {
    font-size: 14px;
    padding-left: 1px;
  }
  footer ul {
    font-size: 11px;
    padding-top: 13px;
  }
  footer img {
    width: 125px; /* Decrease the width */
    height: auto; /* Maintain aspect ratio */
    padding-left: 50px; /* Adjust padding to push it to the left */
    padding-top: 60px; /* Adjust padding to push it to the top */
  }

  footer .links {
    padding-left: 25%;
  }
  footer .socials {
    transform: translateY(-40px);
  }
  footer .socials a svg {
    width: 9px;
    height: auto;
  }
}

@media (max-width: 600px) {
  footer img {
    width: 125px; /* Decrease the width */
    height: auto; /* Maintain aspect ratio */
    padding-left: 50px; /* Adjust padding to push it to the left */
    padding-top: 60px; /* Adjust padding to push it to the top */
  }

  footer .links {
    padding-left: 10%;
  }
}
